<ul class="toc">
    {% for item in site.data.navigation %}
      <li class="toc-item">
        <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
        {% if item.details %}
        <ul class="toc toc-1">
          {% for details in item.details %}
            <li class="toc-item"><a href="{{ details.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ details.name }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
      </li>
    {% endfor %}
</ul>
  