<ul class="toc">
    {% for item in site.data.navigation %}
      <li class="toc-entry"><a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a></li>
      {% if item.details %}
        <ul>
          {% for details in item.details %}
            <li class="py-1"><a href="{{ details.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ details.name }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
</ul>
  